:root{
    --lavenderblue-color: #f4f4fd;   
    --blue-gray-color: #8e8f99;
    --link-color:#404bbf;
    --button-color:#e7e9fc;
    --section-five-color: #2e2f42;
    --five-link-color: #8e8f99;
    --white:#FFFFFF;
    --royalblue-color: #4d5ae5;
    

    
}
h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
}

.body{
    color: #434455;
    font-family: 'Roboto', sans-serif;
    background-color:#FFFFFF;
    min-width: 320px;
   
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .section-two-icon-container{
    display: none;
  }

  .no-dot{
    list-style: none;
    margin: 0;
    padding: 0;
}

.section-four-list-point{
    width: 40px;
    height: 40px;
}

.section-four-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-transition{
    transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four-svg{
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
}

.section-five-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border-transition{
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.index-button:hover{
    background-color:var(--link-color);
}

.index-button:focus{
    background-color:var(--link-color);
}

.section-four-link:hover,
.section-four-link:focus{
    background-color: #404bbf;
}

.footer{
    background-color:#2e2f42;
}

.section-five-link-container:hover,
.section-five-link-container:focus{
    border-color: #404bbf;
    color: #404bbf;
}

.footer-socialmedia{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 16px;
}

.footer-point{
    height: 40px;
    width: 40px;
}

.footer-socialmedia-link{
    width: 100%;
    height: 100%;
    background-color: var(--royalblue-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-socialmedia-link:hover,
.footer-socialmedia-link:focus{
    background-color: #31d0aa;
}

.footer-svg{
    fill: var(--lavenderblue-color);
}


.footer-subscribe-paragraph{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.modal-div{
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-window-div-container{
    padding: 72px 16px 16px 16px;   
}


.modal-paragraph{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--section-five-color);
    margin-bottom: 16px;
}

.modal-form-div{
    margin-bottom: 8px;
}

.user-name-label{
    font-size: 12px; 
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--blue-gray-color);
    display: block; 
    margin-bottom: 4px;
}

.user-name-div{
    position: relative;
}

.user-name-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent; 
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.user-name-input:focus{
    border-color: #4D5AE5;
}

.user-name-svg{
    position: absolute;
    left: 16px; 
    top: 50%;
    transform: translateY(-50%); 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.user-name-input:focus,
.user-name-input:hover,
.user-name-input:active{
    border-color: #4D5AE5; 
}

.user-name-input:focus + .user-name-svg,
.user-name-input:hover + .user-name-svg,
.user-name-input:active + .user-name-svg{ 
    fill: #4D5AE5;
}

.modal-close-button:focus,
.modal-close-button:hover{
    background-color: #404bbf;
    border: none;
    background-color: #404bbf; 
    border: none; 
}

.modal-use-svg-size{
    height: 12px;
    width: 12px;
}

.modal-comment-div{
    margin-bottom: 16px; 
}

.modal-textarea{
    width: 100%;
    height: 120px; 
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}


.modal-textarea:focus,
.modal-textarea:hover,
.modal-textarea:active{
    border-color: #4D5AE5;
}

.modal-terms-div{
    margin-bottom: 24px;
}


.modal-terms-label{
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em; 
    color: var(--blue-gray-color)
}

.modal-terms-span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

.modal-link-terms{
    color: var(--royalblue-color);
}

.modal-terms-svg{
    width: 15px;
    height: 15px;
}

.modal-send-button{
    display: block;
    margin-left: 95px;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.terms:checked + .modal-terms-label span{
    background-color: var(--link-color);
    border: none;
    fill: var(--lavenderblue-color);
}

.modal-use-svg-size{
    height: 12px;
    width: 12px;
}

.header-shadow {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

 .list:focus {
     color: var(--link-color);
 }

 .adress:hover {
     color: var(--link-color);
 }

 .adress:focus {
     color: var(--link-color);
 }

 .section-five-link-container:hover,
 .section-five-link-container:focus {
     border-color: #404bbf;
     color: #404bbf;
 }
 .modal-close-button {
     position: absolute;
     top: 24px;
     right: 24px;
     width: 24px;
     height: 24px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #e7e9fc;
     border: 1px solid rgba(0, 0, 0, 0.1);
     padding: 0;
     cursor: pointer;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }


@media screen and (min-width: 320px) {

}


/*------------------------------------------ Mobile --------------------------------------------*/

@media screen and (max-width: 767px) {

/* header */

.header-container{
    border-bottom: 1px solid var(--button-color);
    background: var(--white);
}

.header-shadow{
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container{
    max-width: 428px;
    margin:0 auto;
}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}
.nav-container{
    display: flex;
    align-items: center;
    padding-bottom: 22px;
    padding-top: 24px;
    max-width: 115px;
}

.link{
    text-decoration: none;
}

.logo{
    height: 24px;
    display: inline-flex;
    align-items: center;
    
}
.web{
    color: var(--royalblue-color);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.studio{
    color:var(--section-five-color);
}

.menu-container{
    display: none;
}

.adress-container{
    display: none;
}

.hamburger-container{
    padding-top: 24px;
    padding-bottom: 24px;
}

.hamurger-button{
    border:none;
    background-color: #fff;
}

menu{
    margin: 0;
}

/*section 1*/

.footer{
    background-color:#2e2f42;
}

.section-one-container{
    padding-top: 112px;
    padding-bottom: 112px;
}


.section-one-bacground{
    display: flex;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    margin: 0 auto;
}
@media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section-one-bacground {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                                url(../images/people-office-2x.jpg);
    }
}

.section-one-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-header{
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-transform: capitalize;
    margin: 0 auto;
}

.section-one-h-container{
    max-width: 320px;
    padding-bottom: 72px;
 }

 .index-button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.button-container{
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;  
}

.button-transition{
    transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* section 2*/

.list{
    list-style: none;
}

.section-two-list-container{
    display: flex;
    flex-direction: column;
    padding-top: 96px;
    padding-bottom: 96px;
    gap:72px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;

}

.second-section-list-point-container{
    display: flex;
    max-width: 396px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.header{
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;     
}

.list-paragraph{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px; 
}

/* section 3*/

.no-viev {
    display: none;
}

/* section 4*/

.section-backgorund{
    background-color: #F4F4FD
}

.section-header{
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    padding-bottom: 72px;
    padding-top: 96px;

}

.second-section-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4FD;
    padding-bottom: 96px;
}

.third-list-container{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 264px;
    gap: 72px;
    padding-left: 0px;
    
}

.fourth-section-list-points{
    border-radius: 0px 0px 4px 4px;
}

.list-bg-color{
    background:  #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.name-surname-container{
    padding: 32px 0px;
}

.fourth-section-header{
    text-align: center;
    margin-bottom: 8px; 
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.list-paragraph{
    line-height: 1.5;
    color:#434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    margin-bottom: 8px;
   
}

.paragraph-container{
    text-align: center;
}

.third-section-icon_container{
    display: flex;
    justify-content: center;
    gap: 24px;
}

/* section 5*/

.section-five-container{
    padding-top: 96px;
    padding-bottom: 96px;
    margin: 0 auto;
}

.customers-container {
    color: var(--section-five-color);
    font-size: 36px;
    line-height: 1.11;
}
.scection-five-list-container{
    display: flex;
    gap: 72px 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 72px;
    justify-content: center
}

.scection-five-point-container{
    height: 88px;
    width: 190px;
}

.section-five-link-container{
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--five-link-color);
}

.section-five-svg-container{
    fill: currentColor;
    height: 56px;
    width: 110px;
}



/*------------------------------------------footer--------------------------------------------- */


.main-div-footer{
    display: flex;
    flex-direction: column;
}

.footer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:96px;
}
.logo{
    height: 24px;
    display: inline-flex;
    align-items: center;
    
}
.web{
    color: var(--royalblue-color);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.second-studio{
    color:#F4F4FD;
}

.footer-paragraph{
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
}

.footer-paragraph-container{
    padding-top: 16px;
    max-width: 264px
}

.social-div-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 72px;
}

.footer-list{
    display: flex;
    gap: 16px; 
}

.footer-label{
    max-width: 398px;
}

.subscribe-div{
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 96px;
}

.footer-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-input{
    gap: 24px;
    max-width: 398px;
    min-width: 165px;
    width: calc(100vw - 10vw);
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    font-weight: 400;
}

.footer-subscribe-button{
    min-width: 165px;
    height: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif; 
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}


/*-------------------------------------------modal-window-------------------------------------- */

.modal-window-div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 100vw; 
    max-width: 392px;
    min-width: 320px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-use-svg-size{
    height: 24px;
    width: 18px;
}



/*----------------------------------hamburger-menu----------------------------------------------*/

.menu-container-a {
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 999;
    min-width: 320px;
    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
    display: none;
  }

  .menu-container-a.is-open {
    transform: translateY(0);
    display: initial;
  }

  .hamburger-div{
    margin: auto;
    width: 90vw;
    min-width: 320px;
 
  }

  .div-hamburger-button{
    display: flex;
    flex-direction: row-reverse;
        height: 48px;
        align-items: flex-end;
        padding-right: 24px;
  }
 

 .hamburger-nav-container{
    display:flex;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 32px;
    gap:40px;
 
    }

.hamburger-nav-font{
    color: #2E2F42;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    }
.link-bar{
    position: relative;
    color: #404bbf;    
    }



.hamburger-adress{
   
    padding-top: 284px;
    
}

.hamburger-adress-ul{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 40px;
}

.hamburger-phone{
    color:#4D5AE5;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-decoration: none;

}

.hamburger-info{
    color: #434455;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;  
}

.hamburger-icons{
    display: flex;
    margin: 40px 0;
    justify-content: space-evenly;
}

}

/*-----------------------------------------------Tablet-----------------------------------------*/

@media screen and (min-width: 768px) and (max-width: 1158px) {
.no-viev {
        display: none;
    }

.container{
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}


.header-flex {
        display: flex;
        align-items: center;
    }

 .hamburger-menu {
     display: none;
     
 }

  .nav-container {
      display: flex;
      align-items: center;
      margin-right: auto;
  }

.web {
    font-size: 18px;
    font-weight: 800;
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.link {
    text-decoration: none;

}

.logo {
    height: 24px;
    display: inline-flex;
    align-items: center;
    margin-right: 120px;

}

.studio {
    font-size: 18px;
    font-weight: 800;
    color: #2E2F42;
}

  .menu-container {
      display: flex;
      align-content: stretch;
      gap: 40px;
  }

  .list {
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #2e2f42;
      font-style: normal;
      list-style: none;
      margin: 0;
      padding: 0;

}

 .list-container {
     padding-top: 24px;
     padding-bottom: 24px;
     display: block;
 }

 .link-bar {
     position: relative;
     color: #404bbf;
 }

 .link-bar::after {
     content: '';
     position: absolute;
     left: 0;
     bottom: -1px;
     height: 4px;
     background-color: #404bbf;
     border-radius: 2px;
    width: 100%;
 }

.transition {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.adress-container{
    display: flex;
    flex-direction: column;
}

.adress {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-one-container {
    padding-top: 112px;
    padding-bottom: 112px;
}

.section-one-bacground {
    display: flex;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
                      url(../images/peopleoffice.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section-one-bacground {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                                  url(../images/people-office-2x.jpg);
            }
}



.section-one-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

   .index-header {
       font-size: 56px;
       line-height: 1.07;
       text-align: center;
       letter-spacing: 0.02em;
       color: #ffffff;
       margin: 0 auto;
       font-weight: 700;
   }

 .section-one-h-container {
     max-width: 496px;
     padding-bottom: 36px;
 }

  .index-button {
      background-color: #4D5AE5;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #ffffff;
      cursor: pointer;
  }

  .index-button:hover {
      background-color: var(--link-color);
  }

  .index-button:focus {
      background-color: var(--link-color);
  }

  .button-container {
      display: block;
      min-width: 169px;
      height: 56px;
      border: none;
      background-color: #4d5ae5;
      border-radius: 4px;
      cursor: pointer;

  }

.button-transition {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-two-list-container{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;

}

.second-section-list-point-container{
    max-width: 356px;
}

.header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

 .list-paragraph {
     line-height: 1.5;
     color: #434455;
     letter-spacing: 0.02em;
     font-size: 16px;
     font-weight: 500;
 }

.section-backgorund {
    background-color: #F4F4FD
}

 .second-section-center {
     display: flex;
     flex-direction: column;
 }

 .section-header {
     font-size: 36px;
     line-height: 1.11;
     text-align: center;
     letter-spacing: 0.02em;
     text-transform: capitalize;
     color: #2e2f42;
 }

 .third-section-header {
    margin-bottom: 72px;
 }

.third-list-container {
    display: flex;
    gap: 24px;
    margin-left: 108px;
    flex-wrap: wrap;
}

.list-bg-color {
    background-color: #FFFFFF;
}

.section-four-box-shadow {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08)
}

.name-surname-container {
    padding: 32px 0px;
}

.header {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.fourth-section-header {
    text-align: center;
    margin-bottom: 8px;
}


 .list-paragraph {
     line-height: 1.5;
     color: #434455;
     letter-spacing: 0.02em;
 }

 .paragraph-container {
     text-align: center;
 }

  .third-section-icon_container {
      display: flex;
      justify-content: center;
      gap: 24px;
      margin-top: 8px;
  }

  .section-two-container {
      padding-bottom: 120px;
      padding-top: 120px;
  }

   .section-five-container {
       padding-top: 120px;
       padding-bottom: 120px;
       margin: 0 auto;
   }

   .section-five-flex {
       display: flex;
       flex-direction: column;
       margin:0 auto;
   }

   .customers-container{
        color: var(--section-five-color);
        font-size: 36px;
        line-height: 1.11;
   }

   .scection-five-list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 72px;
    gap: 24px;
   }

   .scection-five-point-container{
        width: 168px;
        height: 88px;
   }

 .section-five-link-container {
     width: 100%;
     height: 100%;
     border: 1px solid #8e8f99;
     border-radius: 4px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #8e8f99;
 }

 .border-transition {
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .section-five-svg-container {
     fill: currentColor;
 }



.main-div-footer {
    display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
        padding-top:72px;
        padding-left: 108px;
}

.second-studio {
    color: #F4F4FD;
}


 .footer-paragraph {
     line-height: 1.5;
     color: #F4F4FD;
     letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 400;
 }

 .footer-paragraph-container{
    width: 264px;
 }

 .social-div-footer {
   
     display: flex;
     flex-direction: column;
 }

 .footer-list {
     display: flex;
     gap: 16px;
 }

 .footer-form {
     display: flex;
     gap: 24px;
 }

 .footer-input {
     gap: 24px;
     width: 264px;
     height: 40px;
     border: 1px solid #ffffff;
     background-color: transparent;
     font-size: 12px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     padding-left: 15px;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
     color: #ffffff;
     font-weight: 400;
 }

 .footer-subscribe-button {
     min-width: 165px;
     height: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: #ffffff;
     cursor: pointer;
     background-color: #4D5AE5;
     border: none;
     border-radius: 4px;
 }

 .subscribe-div{
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    padding-bottom: 96px;
    
 }

  .footer-div {
      flex-direction: column;
      align-items: flex-start;
      margin-right: 24px;
  }


  /* modal window */

  .modal-window-div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      width: 392px;
      min-height: 584px;
      background: #fcfcfc;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

  .modal-use-svg-size {
      height: 24px;
      width: 18px;
  }




}
/*---------------------------------------------- Not Desktop----------------------------------*/

@media screen and (max-width: 1157px) {
    .icon-features {
      display: none;
    }
}

/*------------------------------------------------Desktop-------------------------------------*/

@media screen and (min-width: 1158px) {
    .list{
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#2e2f42;
        font-style: normal;
        list-style: none;
        margin:0 ;
        padding: 0;
    
    }
    
    .list:hover {
        color:var(--link-color);
    }
    
    .list:focus {
        color:var(--link-color);
    }
    
    .web{
        font-size: 18px;
        font-weight: 800;
        color: #4D5AE5;
        font-family: 'Raleway', sans-serif;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    
    .link{
        text-decoration: none;
     
    }
    
    .studio{
        font-size: 18px;
        font-weight: 800;
        color: #2E2F42;   
    }
    
    .second-studio{
        font-size: 18px;
        font-weight: 800;
        color: #F4F4FD;
    }
    .adress{
        list-style: none;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#434455;
    }
    
    .adress:hover{
        color:var(--link-color);
    }
    
    .adress:focus{
        color:var(--link-color);
    }
    
    .index-header{
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin: 0 auto;
    }
    
    .index-button{
        background-color: #4D5AE5;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
    }
    
    .index-button:hover{
        background-color:var(--link-color);
    }
    
    .index-button:focus{
        background-color:var(--link-color);
    }
    
    .button{
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.04em;
       color:#4d5ae5;
       background-color:#F4F4FD;
       cursor: pointer;
       font-family: "Roboto", sans-serif;
    }
    
    .button:hover{
        color:#FFFFFF;
        background-color:var(--link-color);
    }
    
    .button:focus{
        color:#FFFFFF;
        background-color:var(--link-color);
    }
    
    .header{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:#2e2f42;
    }
    
    .section-header{
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color:#2e2f42;
        font-weight: 700;
    }
    
    .paragraph{
        color:#434455;
    }
    
    .footer{
        background-color:#2e2f42;
    }
    
    .footer-logo{
        color:#f4f4fd;
    }
    
    .footer-paragraph{
        line-height: 1.5;
        color:#F4F4FD;
        letter-spacing: 0.02em;
    }
    
    .list-paragraph{
        line-height: 1.5;
        color:#434455;
        letter-spacing: 0.02em;
    }
    
    .section-backgorund{
        background-color: #F4F4FD
    }
    
    .list-bg-color{
        background-color: #FFFFFF;
    }
    
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;   
    }
    
    .header-container{
        border-bottom: 1px solid #e7e9fc;
    }
    
    .header-flex{
        display: flex ;
        align-items: center;
    }
    
    .menu-container{
        display: flex;
        align-content: stretch;
        gap: 40px;
    }
    
    .logo{
        margin-right:76px;
    }
    
    .list-container{
        padding-top: 24px;
        padding-bottom: 24px;
        display: block;
    }
    
    .adress-container{
        display: flex;
        gap: 40px;
    }
    
    .nav-container{
        display: flex;
        align-items: center;
        margin-right: auto;
    }
    
    .section-one-center{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-one-container{
        padding-top: 188px;
        padding-bottom: 188px;
    }
    
    .section-one-h-container{
        max-width: 496px;
        padding-bottom: 48px;
    }
    
    .button-container{
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        background-color: #4d5ae5;
        border-radius: 4px;
        cursor: pointer;
        
    }
    
    .section-two-container{
        padding-bottom: 120px;
        padding-top: 120px;
    }
    
    .section-three-container{
        padding-bottom: 120px;
    }
    
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
    
    .section-two-list-container{
        display: flex;
        gap: 24px;
    }
    
    .second-section-list-point-container{
        flex-basis: calc((100% - 3*24px)/4);
        max-width: 264px;
    }
    
    .second-section-piont-header-container{
        margin-bottom: 8px;
    }
    
    .third-section-header{
        margin-bottom: 72px;
    }
    
    .third-list-container{
        display: flex;
        gap: 24px;
    
    }
    .third-list-points-container{
        display:block;
        flex-basis: calc((100% - 48px)/3);
    
    }
    .second-section-center{
        display: flex;
        flex-direction: column;
    }
    
    .fourth-section-list-points{
        flex-basis: calc((100% - 72px)/4);
        border-radius: 0px 0px 4px 4px;
    
    }
    
    .name-surname-container{
        padding: 32px 0px;
    }
    
    .fourth-section-header{
        text-align: center;
        margin-bottom: 8px; 
        font-size: 20px;
    }
    
    .paragraph-container{
        text-align: center;
    }
    
    .img-block{
        display: block;
        max-width: 100%;
        height:auto;
    }
    
    .footer-container{
        padding: 100px 0;
    }
    
    .footer-div{
        flex-direction: column;
        align-items: flex-start;
        margin-right: 120px;
    }
    
    .footer-link{
        display: inline-block;
        margin-bottom: 16px;
    }
        
    .footer-paragraph-container{
        max-width: 264px
    }
    
    .portfolio-section-one{
        padding-top: 96px; 
        padding-bottom: 120px;
    }
    
    .portfolio-list{
        display: flex;
        justify-content: center;
        gap: 24px;
        margin: 0;
        padding: 0;
        margin-bottom: 72px;
    }
    
    .portfolio-button{
        padding: 12px 24px;
        border: 1px solid var(--button-color);
        border-radius: 4px;
    
    }
    
    .portfolio-button:hover{
        border: 1px solid transparent;
    }
    
    .portfolio-button:focus{
        border: 1px solid transparent;
    }
    
    .portfolio-second-list{
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
        margin: 0;
        padding: 0;
    }
    
    .portfolio-second-list-point{
        flex-basis: calc((100% - 48px)/3);
    }
    
    .portfolio-link{
        padding: 32px 16px;
        border: 1px solid var(--button-color);
        border-top: none;
        
    }
    
    .portfolio-link-header{
        margin-bottom: 8px;
    }
    
    .section-one-bacground{
        display: flex;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice.jpg);
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        max-width: 1440px;
        margin: 0 auto;
    }

    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .section-one-bacground {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                    url(../images/people-office-2x.jpg);
            }
        }
    
    .display-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .ico-container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px; 
        background-color: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;
    }
    
    .header-shadow{
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }
    
    .section-two-icon-container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px; 
        margin-bottom: 8px;
    }
    
    .section-two-svg{
        width: 64;
        height: 64;
    }
    
    .third-section-icon_container{
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-top: 8px;
    }
    
    .section-four-box-shadow{
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08)
    }
    
    .section-four-list-point{
        width: 40px;
        height: 40px;
    }
    
    .section-four-link{
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .section-four-link:hover,
    .section-four-link:focus{
        background-color: #404bbf;
    }
    
    .section-four-svg{
        width: 16px;
        height: 16px;
        fill: #f4f4fd;
    }
    
    .section-five-container{
        padding-top: 120px;
        padding-bottom: 120px;
        margin: 0 auto;
    }
    
    .customers-container{
        color: var(--section-five-color);
        font-size: 36px;
        line-height: 1.11;
        margin-bottom: 72px;
    }
    
    .section-five-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .scection-five-list-container{
        display: flex;
        gap: 24px;
        width: 100%;
    }
    
    .scection-five-point-container{
        width:calc((100% - 120px)/6);
        height: 88px;
    }
    
    .section-five-link-container{
        width: 100%;
        height: 100%;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--five-link-color);
    }
    
    .section-five-link-container:hover,
    .section-five-link-container:focus{
        border-color: #404bbf;
        color: #404bbf;
    }
    
    .section-five-svg-container{
        fill: currentColor;
    }
    
    .main-div-footer{
        display: flex;
        align-items: baseline;
    }
    
    .second-div-container{
        gap: 120px;
    }
    
    .footer-socialmedia{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--white);
        margin-bottom: 16px;
    }
    
    .footer-list{
        display: flex;
        gap: 16px; 
    }
    
    .footer-point{
        height: 40px;
        width: 40px;
    
    }
    .footer-socialmedia-link{
        width: 100%;
        height: 100%;
        background-color: var(--royalblue-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footer-socialmedia-link:hover,
    .footer-socialmedia-link:focus{
        background-color: #31d0aa;
    
    }
    
    .footer-svg{
        fill: var(--lavenderblue-color);
    }
    
    .portfolio-button:hover,
    .portfolio-button:focus{
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    }
    
    .portfolio-link-container{
        display: block;
    }
    
    
    
    .link-bar{
        position: relative;
        color: #404bbf;    
    }
    
    .link-bar::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        width: 100%;
    }
    
    .transition{
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .button-transition{
        transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .border-transition{
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    
    .portfolio-button-transition{
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    
    .box-shadow-transition{
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .box-shadow-transition:hover,
    .box-shadow-transition:focus{
        box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    
    .figure-sliding{
        position: relative;
        overflow: hidden;
    }
    
    
    .figure-sliding-text{
        position: absolute;
        top: 0; 
        font-size: 16px; 
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        background-color: #4d5ae5; 
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    
    .portfolio-link-container:hover .figure-sliding-text{
        transform: translateY(0%);
    }
    
    .portfolio-link-container:focus .figure-sliding-text{
        transform: translateY(0%);
    }
    
    
    .modal-div{
        position: fixed;
        top: 0;
        left: 0; 
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    
    .is-hidden{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    
    }
    
    .modal-window-div{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 408px; 
        min-height: 584px;
        background: #fcfcfc;
        box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    
    .modal-close-button{
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center; 
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer; 
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    
    .modal-close-button:focus,
    .modal-close-button:hover{
        background-color: #404bbf;
        border: none;
        background-color: #404bbf; 
        border: none; 
    }
    
    .modal-svg{
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .modal-close-button:hover,
    .modal-close-button:focus{
        fill: #ffffff;
    }
    
    .subscribe-div{
        margin-left: 80px;
    }
    
    .footer-subscribe-paragraph{
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
    }
    
    .footer-form{
        display: flex;
        gap: 24px;
    }
    
    .footer-label{
        display: block;
    }
    
    .footer-input{
        gap: 24px;
        width: 264px;
        height: 40px;
        border: 1px solid #ffffff;
        background-color: transparent;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding-left: 16px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: #ffffff;
    }
    
    .footer-subscribe-button{
        min-width: 165px;
        height: 40px;
        display: flex; 
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif; 
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none;
        border-radius: 4px;
    }
    
    .footer-svg-button{
        margin-left: 16px;
    }
    
    .modal-window-div-container{
        padding: 72px 24px 24px 24px;   
    }
    
    .modal-paragraph{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--section-five-color);
        margin-bottom: 16px;
    }
    
    .modal-form-div{
        margin-bottom: 8px;
    
    }
    
    .user-name-label{
        font-size: 12px; 
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--blue-gray-color);
        display: block; 
        margin-bottom: 4px;
    }
    
    .user-name-div{
        position: relative;
    }
    
    .user-name-input{
        width: 100%;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent; 
        padding-left: 38px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    
    .user-name-input:focus{
        border-color: #4D5AE5;
    }
    
    .user-name-svg{
        position: absolute;
        left: 16px; 
        top: 50%;
        transform: translateY(-50%); 
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    
    .user-name-input:focus,
    .user-name-input:hover,
    .user-name-input:active{
        border-color: #4D5AE5; 
    }
    
    .user-name-input:focus + .user-name-svg,
    .user-name-input:hover + .user-name-svg,
    .user-name-input:active + .user-name-svg{ 
        fill: #4D5AE5;
    }
    
    
    
    .modal-comment-div{
        margin-bottom: 16px; 
    }
    
    .modal-textarea{
        width: 100%;
        height: 120px; 
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    }
    
    .modal-textarea:focus,
    .modal-textarea:hover,
    .modal-textarea:active{
        border-color: #4D5AE5;
    }
    
    .modal-terms-div{
        margin-bottom: 24px;
    }
    
    
    .modal-terms-label{
        display: block;
        margin-bottom: 4px;
        font-size: 12px;
        line-height: 1.17; 
        letter-spacing: 0.04em; 
        color: var(--blue-gray-color)
    }
    
    .modal-terms-span{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        margin-right: 8px;
        border: 1px solid rgba(46, 47, 66, 0.4); 
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: transparent;
    }
    
    .modal-link-terms{
        color: var(--royalblue-color);
    }
    
    .modal-terms-svg{
        width: 15px;
        height: 15px;
    }
    
    .modal-send-button{
        display: block;
        margin-left: 95px;
        min-width: 169px;
        height: 56px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    
    .terms:checked + .modal-terms-label span{
        background-color: var(--link-color);
        border: none;
        fill: var(--lavenderblue-color);
    }
    
    .modal-use-svg-size{
        height: 12px;
        width: 12px;
    }
    
    .footer-subscribe-send-svg{
        width: 24px;
        height: 24px;
    }

    .hamburger-menu{
        display: none;
    }

    .visually-hidden-hamb {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
}